{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_link %}
<!-- <link rel="stylesheet" href="{% static 'users/main.css' %}"> -->
<style>
    .login{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #fff;
        
    }
    .login-body{
        background-color: #E4B731;
        //opacity: 0.9;
        margin-top: 140px;
    }
    body{
        //background-color: #F0EFF4;
        background-image: url("{% static 'img/background_user.jpg' %}")
    }
    .loginBtn, .loginBtn:active,
.loginBtn:visited,
.loginBtn:focus {
        background-color: #fff9;
        border: #969696;
        color: black;
    }
    .loginBtn:hover{
        background-color: #7f7e7e;
    }
</style>
{% endblock %}

{% block content %}
<div class="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 login-body pl-4 pr-4 pb-4">
                <form method="POST" >
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="border-bottom pt-4 pb-4 text-center" style="color: black;">Sign In</legend>
                        {% comment %} {{ form|crispy }} {% endcomment %}
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}

                        <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input type="number" id="student_id" name="{{form.username.name}}" class="form-control" />
                              <label class="form-label" for="name">Staff ID</label>
                            </div>
                          </div>
        
                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <input type="password" id="password" name="{{form.password.name}}" class="form-control" />
                              <label class="form-label" for="password">Password</label>
                            </div>
                          </div>
        
                          

                    </fieldset>
                    <div class="form-group">
                        <button class="btn w-100 loginBtn" type="submit">Log in</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Don't Have An Account? <a class="ml-2" href="{% url 'register' %}">Sign Up</a><br>
                        Login as <a class="ml-2" href="/admin">Admin</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}