{% extends "base1.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block css_link %}
<style>
        /* .register{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        color: #969696;
        
    } */
    .register-body{
        //background-color: white;
        background-color: #E4B731;
        color: #fff;;
    }
    body{
        //background-color: #F0EFF4;
        background-image: url("{% static 'img/gatehouse1.jpg' %}");
        //background-repeat: no-repeat;
        background-size: cover;
    }
    .registerBtn, .registerBtn:active,
.registerBtn:visited,
.registerBtn:focus {
        background-color: #F4E2AD;
        border: #969696;
        color: black;
    }
    .registerBtn:hover{
        background-color: #F4E2AD;
    }
</style>
{% endblock %}

{% block content %}
<div class="register">
    <div class="heading pt-4 pb-4 text-center">
        <h3>Create your account</h3>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5 col-md-5 register-body pl-4 pr-4 pb-4">

                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn w-100 registerBtn" type="submit">Sign Up</button>
                    </div>
                </form>
                <div class="border-top pt-3">
                    <small class="text-muted">
                        Already Have An Account? <a class="ml-2" href="{% url 'login' %}">Sign In</a><br>
                        Login as <a class="ml-2" href="/admin">Admin</a>
                    </small>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    //$("#div_id_password"). click(function(){ this. type = 'password'; });
    //$("#div_id_confirm_password"). click(function(){ this. type = 'password'; });

    $(document).ready(function() {
        
        //$("#div_id_password").on(function(){ this. type = 'password'; });
        //$("#div_id_confirm_password").click(function(){ this. type = 'password'; });
        
        $("#div_id_password").attr("type", "password");
        $("#div_id_confirm_password").attr("type", "password");


        //$("#div_id_password").on('keyup', function(e){
        //    $("#div_id_password").attr("type", "password");
        //});

        //$("#div_id_confirm_password").on('keyup', function(e){
            
        //        var new_pass = $("#div_id_confirm_password").attr("type", "password");
         //       console.log(new_pass)
        //        $(this).val(new_pass)
            
        //});

    });
    

</script>
{% endblock content %}