{% load static %}

<aside class="main-sidebar" style="background-color: ##FFD700">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel"> 
      <div class="pull-left image">
        <div></div><br><br>
      </div>
      <div class="pull-left info">
        {% if request.user.is_superuser %}
          <p> {{ request.user.email }} </p>
        {% else %}
          <p> {{ request.user }} </p>
        {% endif %}
      </div>
    </div>
    <!-- sidebar menu: : style can be found in sidebar.less -->
 
    <!-- Sidebar Menu -->
<div class="sidebar-menu">
  <ul>
    <li>
      {% if request.user.is_superuser %}

        <a href="{% url 'admin_dashboard' %}">
          <span><i class="fa fa-tachometer" aria-hidden="true"></i><span>
          <span>Dashboard</span>
        </a>
        
        <a href="{% url 'all_complaints' %}">
          <span><i class="fa fa-list" aria-hidden="true"></i><span>
          <span>All Complaints</span>
        </a>

        <a href="{% url 'admin_solved_compliants' %}">
          <span><i class="fa fa-check" aria-hidden="true"></i><span>
          <span>Solved Compliants</span>
        </a>

        <a href="{% url 'admin_unsolved_compliants' %}">
          <span><i class="fa fa-times" aria-hidden="true"></i><span>
          <span>Unsolved Complaints</span>
        </a>

        <a href="{% url 'inprogress' %}">
          <span><i class="fa fa-comments-o" aria-hidden="true"></i><span>
          <span>In Progress</span>
        </a>

        <a href="{% url 'view_notifications' %}">
          <span><i class="fa fa-bell" aria-hidden="true"></i><span>
          <span>Notification {{notification_count}}</span>
        </a>
        

      {% else %}

        <a href="{% url 'home' %}">
          <span><i class="fa fa-tachometer" aria-hidden="true"></i><span>
          <span>Dashboard</span>
        </a>

        <a href="{% url 'make_complain' %}">
          <span><i class="fa fa-plus" aria-hidden="true"></i><span>
          <span>Complaints</span>
        </a>

        <a href="{% url 'solved_compliants' %}">
          <span><i class="fa fa-check" aria-hidden="true"></i><span>
          <span>Solved Compliants</span>
        </a>

        <a href="{% url 'unsolved_compliants' %}">
          <span><i class="fa fa-times" aria-hidden="true"></i><span>
          <span>Unsolved Complaints</span>
        </a>

      {% endif %}
      

      <li>
        <a href="{% url 'logout' %}">
          <span class="icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span>
          <span class="item">Logout</span>
        </a>
      </li>
    </li>
    
  </ul>
</div>
<!-- End Sidebar Menu --> 


 
  </section>
  <!-- /.sidebar -->
</aside> 






