{% extends 'root.html' %}
{% load static %}
    {% block content %}
<!-- Main content -->
    <style>
    .content{
      padding: 20px;
    }
    </style>


<section class="content">
    <div class="row">
  <div class="col-xs-12">
  <div class="box">

  <div class="box-header with-border">
    <div class="box-header with-border">
      {% comment %} <a href="#addnew" data-toggle="modal" class="btn btn-primary btn-sm btn-flat"><i
              class="fa fa-plus"></i> Create </a> {% endcomment %}
    </div>


  </div>
  <div class="box-body">
    <table id="example1" class="table table-bordered">
        <thead>
            <th>Title</th>
            <th>Details</th>
            <th>Type</th>
            <th>Comment</th>
            <th>Status</th>
            {% if request.user.is_staff %}
              <th>Action</th>
            {% endif %} 
        </thead>
        <tbody>
            {% for compliant in complaints reversed %}
                
            <tr>
                <td>{{ compliant.title}}</td>
                <td>{{ compliant.details}}</td>
                <td>{{ compliant.type}}</td>
                <td>{{ compliant.comment}}</td>

                {% if compliant.status == "Solved" %}
                  <td style="width: 50px; background-color: green"></td>
                {% elif  compliant.status == "Pending" %}
                  <td style="width: 50px; background-color: red"></td>
                {% elif  compliant.status == "In Progress" %}
                  <td style="width: 50px; background-color: green"></td>
                {% endif %}

                {% if request.user.is_staff %}
                  <td>
                    {% if request.user.is_staff %}

                    {% else %}
                      <button class='btn btn-success btn-sm edit btn-flat' data-id='{{ compliant.id }}'><i class='fa fa-edit'></i></button>
                    {% endif %}
                      <button class='btn btn-danger btn-sm delete btn-flat' data-id='{{ compliant.id }}'><i class='fa fa-trash'></i> </button>
                  </td> 
                {% endif %}
            </tr>
            {% endfor %}      
  
        </tbody>
    </table>
  </div>
  </div>
  </div>
  </div>
  </section>

  <!-- Button trigger modal -->
      
    {% endblock content %}



    {% block modal %}
    <!-- Modal -->


    <div class="modal fade" id="addnew">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Add Complaint</b></h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="POST" action="">
                  {% csrf_token %}
                 
                  <div class="modal-body">
                      {% for field in form  %}
                      <div class="form-group has-feedback">
                          <span class="text-danger">{{field.errors}}</span>
                          {{field.label_tag}}
                          {{field}}
                      </div>
                      {% endfor %}
    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="submit" class="btn btn-primary btn-flat" name="add"><i class="fa fa-save"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>




    {% comment %} # Edit Modal {% endcomment %}
    <div class="modal fade" id="edit">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Edit Complaint</b></h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{% url 'update_compliant' %}">
                  {% csrf_token %}
                  <input type="hidden" class="id" name="id">

                  <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Complaint</label>
                    <div class="col-sm-9">
                      <input type="text" class="form-control title" id="title" name="title">
                    </div>
                </div>

                 <div class="form-group">
                    <label for="name" class="col-sm-3 control-label">Description</label>
                    <div class="col-sm-9">
                      <textarea type="text" class="form-control details" id="details" name="details"></textarea>
                    </div>
                </div>
    
                <div class="form-group">
                  <label for="max_vote" class="col-sm-3 control-label"> Type</label>
    
                  <div class="col-sm-9">
                   <select name="type" id="type" class="form-control type">
                       <option value="">.....</option>
                       <option value="Class Room">Class Room</option>
                       <option value="Campus">Campus</option>
                       <option value="Library">Library</option>
                       <option value="Administration">Administration</option>
                   </select>
                  </div>
              </div>
                
    
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="submit" class="btn btn-success btn-flat" name="edit"><i class="fa fa-check-square-o"></i> Update</button>
                </form>
          </div>
        </div>
      </div>
    </div>
    



    # Delete Modal
    <div class="modal fade" id="delete">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><b>Confirm Deletion</b></h4>
              </div>
              <div class="modal-body">
                <form class="form-horizontal" method="POST" action="{% url 'delete_compliant' %}">
                  <input type="hidden" class="id" name="id">
                  {% csrf_token %}
                  <div class="text-center">
                      <p>DELETE </p>
                     <h4 class="bold account_number"></h4>
                  </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default btn-flat pull-left" data-dismiss="modal"><i class="fa fa-close"></i> Close</button>
                <button type="submit" class="btn btn-danger btn-flat" name="delete"><i class="fa fa-trash"></i> Delete</button>
                </form>
              </div>
          </div>
      </div>
    </div>
    
    
    {% endblock modal %}




    {% block script %}
    <script>
      $(function() {
        $(document).on('click', '.edit', function(e) {
            e.preventDefault();
            $('#edit').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });
  

        $(document).on('click', '.delete', function(e) {
            e.preventDefault();
            $('#delete').modal('show');
            var id = $(this).data('id');
            getRow(id);
        });
  
    });


    function getRow(id) {
        $.ajax({
            type: 'GET',
            url: "{% url 'viewCompliant' %}",
            data: {
                id: id
            },
            dataType: 'json',
            success: function(response) {
                $('.id').val(response.id);
                $('.title').html(response.title);
                $('.title').val(response.title);
                $('.details').val(response.details);
                $('.type').val(response.type);
                $('.status').val(response.status);
                $('.comment').val(response.comment);
                

                console.log(response);
            }
        });
    }

    </script>
    {% endblock script %}
      